<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tmdb.vlik1234">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_tmdb"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="org.tmdb.CoreApplication">
        <activity
            android:name="org.tmdb.StartActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.tmdb.LoginActivity"
            android:launchMode="standard"
            android:screenOrientation="fullSensor"
            android:label="@string/title_login_activity"/>
        <activity
            android:name="org.tmdb.ReturnActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name="org.tmdb.SearchActivity"
            android:launchMode="standard"
            android:screenOrientation="fullSensor"
            android:parentActivityName="org.tmdb.MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tmdb.MainScreenActivity" />
        </activity>
        <activity
            android:name="org.tmdb.MainScreenActivity"
            android:launchMode="standard"
            android:screenOrientation="fullSensor"/>
        <activity
            android:name="org.tmdb.VkLoginActivity"
            android:launchMode="standard"
            android:label="@string/title_vk_login_activity"/>
        <!-- Source - http://developer.android.com/training/implementing-navigation/ancestral.html-->
        <activity
            android:name="org.tmdb.DetailsActivity"
            android:parentActivityName="org.tmdb.ReturnActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.tmdb.ReturnActivity" />
            </activity>

    </application>

</manifest>
